doctype html
html
    head
        title= title
        //- link(rel="preload", href='https://unpkg.com/@clr/ui/clr-ui.min.css', as="style")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='/stylesheets/css/materialize.min.css', media='screen,projection')
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet', href='https://unpkg.com/@clr/ui/clr-ui.min.css')
        link(rel='icon', href='/pictures/TabIcon.png') 
        // Let browser know website is optimized for mobile
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body

        block content
            .login-wrapper
                form.login(action= 'register' method= 'POST')
                    section.title
                        h3.welcome                   
                        |             Registro
                        h5.hint Ingrese su nombre de usuario y contraseña para acceder
                    .login-group
                        clr-input-container
                            input(type='text', name='email', maxlength=30, clrinput, placeholder='Correo Electrónico')
                        clr-input-container
                            input(type='number', name='ci', min=0, clrinput, placeholder='Cédula de Identidad')
                        clr-input-container
                            input(type='text', name='name', maxlength=15, clrinput, placeholder='Nombre')
                        clr-input-container
                            input(type='text', name='ape', maxlength=15, clrinput, placeholder='Apellido')
                        clr-input-container
                            input(type='date', name='fecha_nac', min='1900-01-01', clrinput, placeholder='Fecha de Nacimiento')
                        clr-input-container
                            input(type='number', name='sexo', min=0, max=1, clrinput, placeholder='0 Masculino/1 Femenino')
                        clr-password-container
                            input(type='password', name='password', maxlenght=20, clrpassword, placeholder='Contraseña')
                        //- clr-checkbox-wrapper
                        //-     label Recuerdame
                        //-     input(type='checkbox', name='rememberMe', clrcheckbox)
                        //- .error.active
                        //-     | Invalid user name or password
                        button.btn.btn-primary(type='submit') REGISTRARSE
                        a.signup(href='/login') ¿Ya tienes una cuenta? Ingresa aquí
            .logo
                img(src="../pictures/LoginLogo.png", alt="")