extends layout

block content
	link(rel='stylesheet', href='/stylesheets/error.css')
	-if(message == "Not Found")
		title= 'title'
		//- h1 #{message}
		.container
			#main-card.col.l9.m12
				.card.z-depth-3
					.card-content
						.card-image.center-align
							img(src='/pictures/Oops.png')
						.card-content.center-align
							span.card-title 404 - P치gina no encontrada :(
							p
								| La p치gina que est치s buscando puede que haya sido removida,
								| ha cambiado su nombre o se encuentra temporalmente deshabilitada.
						.card-action.center-align
							a(href='/', style='color:#ff7043;') Regresar a la p치gina principal

	-else
		h3 hi
	//- h5= error.status
	//- pre #{error.status}
