doctype html
body(onload="javascript:pageloadEvery();")
    -if(!user)
        h1 CONECTANDO...
        script.
            function pageloadEvery() {
            setTimeout('window.location.reload(true)', 1);
            }
    -else
        h1 YOU MADE IT #{user.name}
            #{user.ape}
            #{user.ci}
            #{user.fecha_nac} 
            -if(user.sexo == 0)
                h1 MASCULINO
            -else
                h2 FEMENINO 
            -if(user.isAdmin)
                h3 ADMIN POWER PAPÁ
            a(href='/logout') Salir