extends ../template/layout

block content
	link(rel='stylesheet', href='/stylesheets/error.css')
	-if(message == "Not Found")
		title= 'title'
		//- h1 #{message}
		.container
			#main-card.col.l9.m12
				.card.z-depth-3
					.card-content
						.card-image.center-align
							img(src='/pictures/Oops.png')
						.card-content.center-align
							span.card-title 404 - Página no encontrada :(
							p
								| La página que estás buscando puede que haya sido removida,
								| ha cambiado su nombre o se encuentra temporalmente deshabilitada.
						.card-action.center-align
							a(href='/', style='color:#ff7043;') Regresar a la página principal

	-else
		-console.log(message);
		//-console.log(err.status);
		//-console.log(err.message);
		.container
			#main-card.col.l9.m12
				.card.z-depth-3
					.card-content
						.card-content.center-align
							span.card-title(style="margin-top: 20px;") Tuviste un error inesperado, consulta la consola para más detalles
						.card-action.center-align
							a(href='/', style='color:#ff7043;') Regresar a la página principal
	//- h5= error.status
	//- pre #{error.status}
