@import url('https://fonts.googleapis.com/css?family=Roboto');

/* --------------------------------------------------------------------------FONDO-------------------------------------------------------------- */
body {
  /* padding: 50px; */
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
 
  background-color: #ff9d00!important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E")!important;
  background-attachment: fixed!important;
  background-size: cover!important;
}

a {
  color: #00B7FF;
}

nav .sidenav-trigger{
  position: relative;
    z-index: 1;
}

nav a .sidenav-trigger{
  display: block;
}


#menu-button{
  color: #ff2e2e;
  display: block;
  margin: 0 2%;
  margin-top: -44px;
  z-index: 998;
  position: fixed;
}
/* --------------------------------------------------------------------------SIDENAV------------------------------------------------------------------------ */
.collapsible .collapsible-header {
  text-transform: uppercase;
  height: 64px;
  line-height: 64px;
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0,0,0,0.2)!important;
  box-sizing: content-box;
}

.collapsible .collapsible-header:focus {
  border-bottom: none!important;
}

.collapsible .collapsible-body {
  padding-bottom: 16px;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.collapsible .collapsible-body:focus {
  border-bottom: 1px solid rgba(0,0,0,0.2)!important;
}

.collapsible>li.waves-effect {
  display: block;
}

.sidenav .logo-container {
  padding: 0 16px;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-sizing: content-box;
}

.logo-container img {
  border-style: none;
  /* float: left; */
  width: 40px;
  vertical-align: center;
  top: 10px;
  position: relative;
  left: 10px;
}

.logo-container i{
  top: 8px;
  vertical-align: center;
  position: relative;
}

.sidenav i{
  color:   #ff2e2e!important;
}

.sidenav a{
  font-weight: bold!important;
}

.chevron{
  margin-right: 0px!important;
  /* transform: rotate(0deg); */
}

#pagesicon{
  transform: rotate(0deg);
}

#pagesicon.focusin{
  transform: rotate(-90deg);
  transition: transform .2s;
}

#pagesicon.focusout{
  transform: rotate(0deg);
  transition: transform .2s;
}

/* --------------------------------------------------------------------------SCROLLBAR------------------------------------------------------------------------ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}